<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="post-item" *ngIf="posts.length > 0 && !isLoading">
  <mat-card *ngFor="let post of posts">
    <mat-card-header>
      <a mat-card-avatar [routerLink]="['/user-profile', post.creator]">
        <img style="width: 100%; border-radius: 50%;" [src]="post.avatar" alt="" />
      </a>
      <mat-card-title>{{post.title}}</mat-card-title>
      <mat-card-subtitle>{{post.date | amTimeAgo:true}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="post.imagePath" alt="post.title">
    <mat-card-content>
      <p>
        {{post.content}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button *ngIf="isAuthenticated" (click)="onLikeClick(post.id)" type="button " mat-button>
        <fa-icon [icon]="faThumbsUp " [ngClass]="{ 'text-info': post.likes ? findUserLike(post.likes) : false} "></fa-icon>
        <span class="badge badge-light">{{post.likes.length}}</span>
      </button>
      <button *ngIf="isAuthenticated" (click)="onUnLikeClick(post.id)" mat-button>
        <fa-icon [icon]="faThumbsDown" class="text-secondary"></fa-icon>
      </button>
      <a [routerLink]="['/post', post.id]" class="btn btn-info mr-1">
        Comments ({{post.comments.length}})
      </a>
      <button *ngIf="isAuthenticated && userId === post.creator" mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</button>
      <button *ngIf="isAuthenticated && userId === post.creator" mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="posts.length > 0"></mat-paginator>
<p class="mat-body-1 info-text" *ngIf="posts.length <= 0 && !isLoading">No posts added yet</p>